<h1>Welcome</h1>

<p>Welcome, <%= current_user.username %></p>
<p>Account Balance: <%= current_user.balance %></p>
<p><a href="/add">Add Money</a> or <a href="/subtract">Withdraw</a></p>
<p><a href="/logout">Log Out</a></p>
