<p>How much money woould you like to withdraw?</p>
<form action="/subtract" method="post">
  <input type="decimal" name="subtract" placeholder="$0.00"><br>
  <input type="submit" value="Submit">
</form>
